.vArticle {
    display: flex;
    flex-direction: row;
    max-width: 60%;
    font-size: 1em;
    font-family: 'Rubik', sans-serif;
    padding: 2.5rem;
}
.vTextContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding-left: 2.6rem;
}

.vImage {
    max-width: 30vw;
    border-radius: 20px;
}
.features {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.swiperContainer {
    width: 80vh;
}

.product-images-slider .swiper-slide {
    padding-top: 100%;
    overflow: hidden;
    position: relative;
}
.product-images-slider .swiper-slide img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.product-images-slider .swiper-button-prev {
    left: 0;
    color: #000;
}
.product-images-slider .swiper-button-next {
    right: 0;
    color: #000;
}

.product-images-slider-thumbs .swiper-slide {
    cursor: pointer;
    border: 1px solid #dddbdb;
}
.product-images-slider-thumbs .swiper-slide-thumb-active {
    border-color: #ff0000;
}
.product-images-slider-thumbs-wrapper {
    width: 100%;
    padding-top: 100%;
    overflow: hidden;
    position: relative;
}
.product-images-slider-thumbs-wrapper img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
