*{
    margin: 0;
    padding:0;
}

footer{
    height: 15%;
    width: 99vw;
    background-color: black;
    margin: 0;
}


.footerInput{
    width: 50%;
    height: 3em;
    border: none;
    border-bottom: 2px solid white;
    border-radius: 10px;
}

input[type=text] {
    font-size: 1.5em;
    padding-left: 2%;
}

#sendIcon{
    position: absolute;
    top:71%;
    right:26%;
    color:black;
    font-size: 2em;
    cursor: pointer;
}

.newsletterContainer{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.footerUpperContainer{
    display: flex;
    align-items: center;
    justify-content: space-between
}

.footerImage{
    width: 50%;
    margin-right: 5%;
}

.footerTextContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.column1,
.column2,
.column3{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family:'Rubik', sans serif;
    text-transform: uppercase;
}

.footerLink{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
    white-space: nowrap;
}

.footerLink:hover{
    text-decoration: underline;
}

.footerText{
    color: white;
    font-size: 2em;
    padding: 2rem;
    white-space: nowrap;
}

#footerAurora{
    font-size: 5em;
    font-family:'Rubik', sans serif;
}

#icon{
    color: white;
    font-size: 3em;
    margin-left: 0.2em;          
    margin-right: 0.2em;
    margin-bottom: 0.6em;
    cursor: pointer;
}

.iconContainer{
    display: flex;
    flex-wrap: nowrap;
}

@media screen and (max-width: 915px) {
    .footerImage{
        display: none;
    }
  }

  @media screen and (max-width: 850px) {
    .footerTextContainer{
        flex-direction: column;
    }
  }             
