.image {
    position: relative;
    height: 100vh;
}

.image .content {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100%;
}

.content .img-txt {
    text-transform: uppercase;
    color: #fff;
    padding: 1rem;
    width:75%;
    text-align: left;
    font-family: 'Rubik', sans-serif;
    backdrop-filter: blur(0.75em);
}

.content p {
    padding: 1rem;
}

.column {
    flex: 33.33%;
    height: 200px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}

.column .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    background: orange;
    border: none;
    padding: 1rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: black;
}

ul{
    padding:0;
    font-family:'Rubik', sans serif;
    font-size:1rem;
    text-transform:uppercase;
}

li{
    display:inline-block;
}

a{
    display:block;
    padding:10px;
    color:#fff;
    text-decoration:none;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    padding: 0 0.5rem;
}

.menu {
    list-style-type: none;
}
.logo {
    font-size: 1.5rem;
    padding: 1rem 1.25rem 1rem 0;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: orange;
}
