#suggestionArticleContainer {
    display: flex;
}

#renterMainTextContainer {
    text-align: left;
}

#hostMainTextContainer {
    text-align: right;
}

#hostMainTextContainer,
#renterMainTextContainer {
    padding: 2rem;
    text-transform: uppercase;
    font-family:'Rubik', sans serif;
    line-height: 200%;
}

.articleTitle,
.articleText,
#hostSubHeading,
#hostSubParagraph,
#renterSubHeading,
#renterSubParagraph {
    padding: 1.5rem;
    text-align: justify;
}

#hostSubTextContainer,
#renterSubTextContainer {
    background-color: rgb(220,220,220);
}

@media screen and (max-width: 500px) {
    #suggestionArticleContainer {
        flex-direction: column;
    }
}
