.ol-map {
    min-width: 300px;
    min-height: 200px;
    margin: 50px;
    height: 400px;
    width: 50%;
}

.ol-control {
    position: absolute;
    background-color: rgba(255,255,255,0.4);
    border-radius: 4px;
    padding: 2px;
}

.ol-viewport {
    border: 5px solid white;
}

.ol-full-screen {
    top: .5em;
    right: .5em;
}

.mapContainer {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.checkBoxContainer {
    color: #fff;
    padding: 2rem;
    line-height: 2rem;
    backdrop-filter: blur(0.5em);
    margin: 1rem;
}